article {
    margin-top: 16px;
}

article h1 {
    text-align: center;
}


/**********************************/

section {
    margin-top: 16px;
}

section ul {
    list-style: none;
}

section ul li {
    width: 120px;
    margin: 0 8px;
    display: inline-block;
}

section ul li a {
    text-decoration: none;
    color: black;
}

section ul li a:hover {
    font-weight: bolder;
}

section ul li a img {
    width: 100%;
}

section ul li a p {
    margin-top: 8px;
    text-align: center;
}