article {
    margin: 16px 0 8px 0;
}

article h1 {
    text-align: center;
}


/**********************************/

.experience_section {
    margin: 16px 0 8px 0;
}

.experience_section .container hr {
    margin: 16px 0;
}

.experience_section p {
    margin-top: 4px;
}