article {
    margin-top: 16px;
}

article h1 {
    text-align: center;
}


/**********************************/

section {
    margin-top: 16px;
}

section ul {
    list-style: none;
}

section ul li {
    width: 144px;
    height: 89px;
    overflow: hidden;
    display: inline-block;
}

section ul li img {
    max-width: 100%;
}